body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-family: Arial;
}

#myCanvas {
  background-color: #2a5;
}

button {
  background-color: #2a5;
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px black;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #5c9;
  transform: translateY(4px);
}

button:active {
  background-color: #1c6;
  transform: translateY(-2px);
}