body {
  margin: 0;
  background-color: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 5px 10px;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: rgb(7, 218, 7);
  transition: all 0.3s ease;
}

button:hover {
  background-color: lightgreen;
}

#networkCanvas {
  background-color: black;
}

#carCanvas {
  background-color: lightgray;
}